[Unit]
Description=Gerenciador Dinâmico de Inatividade (xidlehook)
After=graphical-session.target

[Service]
Type=simple
Environment="PATH=%h/.local/bin:%h/.local/share/cargo/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=%h/.local/bin/power_timer.sh
Restart=always
RestartSec=3


[Install]
WantedBy=default.target
