#!/usr/bin/env sh

data=$(date '+%Y-%m-%d %H:%M:%S')

echo "= .xprofile ========================= $data" >>"$LOGINLOG"

xrdb -load .Xresources &
xset r rate 300 50 &
xset +fp $HOME/.local/share/fonts
xset +fp $HOME/.fonts
xset fp rehash
xset -b &

# satatusbar no path
if [ -d "$HOME/.local/bin" ]; then
  export PATH="$HOME/.local/bin:$HOME/.local/bin/statusbar:$PATH"
fi

mpd &
xplugd >>"$LOGINLOG" 2>&1 &
~/.fehbg >>"$LOGINLOG" 2>&1 &
syncthing -no-browser &
dunst >>"$LOGINLOG" 2>&1 &
picom >>"$LOGINLOG" 2>&1 &
/opt/thefanclub/overgrive/overgrive >>"$LOGINLOG" 2>&1 &
# transmission-daemon >> "$LOGINLOG" 2>&1 &

xscreensaver -nosplash &
# xss-lock -- slock &

emacs --daemon &
/usr/bin/mpdas -c ~/.config/mpdasrc >>"$LOGINLOG" 2>&1 &
# unclutter &
# touchegg &

## wal colors
# Run randomwal to set the wallpaper and colors at startup.
# It will automatically fall back to restoring previous colors if no wallpapers are found.
$HOME/.local/bin/randomwal >>"$LOGINLOG" 2>&1 &
